:root {
  --dark: #001529;
  --white: #fff;
  --blue:  rgb(16, 162, 247);
}

@import '~antd/dist/antd.css';

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

}